@font-face {
    font-family: 'TT Lakes';
    src: url('./fonts/TTLakes-Regular.eot');
    src: local('TT Lakes Regular'), local('TTLakes-Regular'),
    url('./fonts/TTLakes-Regular.eot?#iefix') format('embedded-opentype'),
    url('./fonts/TTLakes-Regular.woff') format('woff'),
    url('./fonts/TTLakes-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes';
    src: url('./fonts/TTLakes-Medium.eot');
    src: local('TT Lakes Medium Italic'), local('TTLakes-Medium'),
    url('./fonts/TTLakes-Medium.eot?#iefix') format('embedded-opentype'),
    url('./fonts/TTLakes-Medium.woff') format('woff'),
    url('./fonts/TTLakes-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes';
    src: url('./fonts/TTLakes-Bold.eot');
    src: local('TT Lakes Bold'), local('TTLakes-Bold'),
    url('./fonts/TTLakes-Bold.eot?#iefix') format('embedded-opentype'),
    url('./fonts/TTLakes-Bold.woff') format('woff'),
    url('./fonts/TTLakes-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

body {
    font-family: 'TT Lakes', sans-serif;
    font-size: 16px;
}

.services-brand {
    background: linear-gradient(270deg, #f8f8f8 0%, #fff 100%);
}

.services-brand__header {
    background-color: #fff;
    padding: 16px;
    border-top: solid 1px #D9FFF5;
}

.services-brand__header .title {
    text-transform: uppercase;
    color: #7E7E82;
}

.card-list {
    padding: 16px 0 16px 16px;
}

.card-list__item.swiper-slide {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 240px;
    height: 72px;
    background-color: #fff;
    padding: 16px;
    border: 1px solid #eaeaea;
    border-radius: 6px;
}

.card-list__button {
    display: block;
    width: 40px;
    height: 40px;
    border: solid 2px #FF3E79;
    border-radius: 50%;
}

.card-list__button--arrow {
    background-image: url(./img/card-arrow.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.swiper-pagination {
    position: static !important;
}

.swiper-pagination-bullet {
    background: #DDDDDD;
}

.swiper-pagination-bullet-active {
    background: #B5B6BC !important;
}

.services-btn {
    display: none;
}

@media screen and (min-width: 768px) {
    .wrapper {
        padding: 24px;
    }

    .card-list.swiper-wrapper {
        width: auto;
        margin-bottom: 24px;
        height: 160px;
        overflow: hidden;
    }

    .card-list.swiper-wrapper.open {
        height: 100%;
        overflow: visible;
    }

    .card-list {
        padding: 0px;
        display: grid !important;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 24px;
        row-gap: 16px;
    }

    .card-list__item.swiper-slide {
        max-width: 100%;
    }

    .services-btn {
        display: flex;
        align-items: center;
    }

    .services-btn.open > img {
        transform: rotate(180deg);
    }
    
    .ready-more {
        font-weight: 500;
        line-height: 1.5;
        color: #1b1c21;
    }
}

@media screen and (min-width: 1120px) {
    .card-list {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        column-gap: 32px;
    }
}